force-app/main/default/flows/Get_Product_List_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Products_found</name>
        <label>Assign Products found</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>productCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[{Id: &apos;01tNS00000K7zjEYAR&apos;, Name: &apos;Installation: Industrial - High&apos;, ProductCode : &apos;IN7080&apos;}, {Id: &apos;01tNS00000K7zjFYAR&apos;, Name: &apos;SLA: Silver&apos;, ProductCode : &apos;SL9040&apos;}, {Id: &apos;01tNS00000K7zjGYAR&apos;, Name: &apos;GenWatt Propane 500kW&apos;, ProductCode : &apos;GC3040&apos;}, {Id: &apos;01tNS00000K7zjHYAR&apos;, Name: &apos;SLA: Platinum&apos;, ProductCode : &apos;SL9080&apos;}, {Id: &apos;01tNS00000K7zjIYAR&apos;, Name: &apos;GenWatt Propane 100kW&apos;, ProductCode : &apos;GC3020&apos;}, {Id: &apos;01tNS00000K7zjJYAR&apos;, Name: &apos;GenWatt Propane 1500kW&apos;, ProductCode : &apos;1500kW&apos;}]</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactFound.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Contact_Exist</name>
        <label>Contact Exist?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactFound.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Products_found</targetReference>
            </connector>
            <label>Contact Exists?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Product List Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Product List Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
